body {
  background-color: #87CEFA; /* Cor azul claro */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
}

.question {
  font-size: 2.5rem;
  color: white;
}

.heart-container {
  margin-top: 2rem;
  animation: heartbeat 1s ease infinite;
}

@keyframes heartbeat {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }
}

.response {
  margin-top: 2rem;
}

.response-button {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  margin: 0 1rem;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.new-location {
  margin-top: 2rem;
}

#fireworks {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 999;
}

@keyframes fireworks {
  0% { transform: translateY(0) rotate(0) scale(1); opacity: 1; }
  100% { transform: translateY(-150vh) rotate(360deg) scale(0.2); opacity: 0; }
}

.firework {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffeb3b;
  pointer-events: none;
  animation: fireworks 5s infinite linear;
  box-shadow: 0 0 10px 5px #ffeb3b;
}



@keyframes fall {
  0% { transform: translateY(-10vh) rotateZ(0deg) scale(0.8); opacity: 0; }
  100% { transform: translateY(100vh) rotateZ(720deg) scale(1.2); opacity: 1; }
}

.hidden {
  display: none;
}

.modal-image {
  max-width: 100%;
  height: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-image {
  max-width: 100%;
  height: auto;
}